@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: "StyreneB";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

}


@font-face {
  font-family: "StyreneB";
  src: local("StyreneB-Bold"), 
        url(../fonts/Styrene-B-Bold-Trial.woff2) format("woff2"), 
        url(../fonts/Styrene-B-Bold-Trial.woff) format("woff");
}
@font-face {
  font-family: "StyreneB";
  src: local("StyreneB-Medium"), 
        url(../fonts/Styrene-B-Medium-Trial.woff2) format("woff2"), 
        url(../fonts/Styrene-B-Medium-Trial.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "StyreneB";
  src: local("StyreneB-Regular"), 
        url(../fonts/Styrene-B-Regular-Trial.woff2) format("woff2"), 
        url(../fonts/Styrene-B-Regular-Trial.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "StyreneB";
  src: local("StyreneB-Thin"), 
        url(../fonts/Styrene-B-Thin-Trial.woff2) format("woff2"), 
        url(../fonts/Styrene-B-Thin-Trial.woff) format("woff");
  font-weight: 100;
}