@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "StyreneB";
  src: local("StyreneB-Bold"), 
        url(../fonts/Styrene-B-Bold-Trial.woff2) format("woff2"), 
        url(../fonts/Styrene-B-Bold-Trial.woff) format("woff");
}
@font-face {
  font-family: "StyreneB";
  src: local("StyreneB-Medium"), 
        url(../fonts/Styrene-B-Medium-Trial.woff2) format("woff2"), 
        url(../fonts/Styrene-B-Medium-Trial.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "StyreneB";
  src: local("StyreneB-Regular"), 
        url(../fonts/Styrene-B-Regular-Trial.woff2) format("woff2"), 
        url(../fonts/Styrene-B-Regular-Trial.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "StyreneB";
  src: local("StyreneB-Thin"), 
        url(../fonts/Styrene-B-Thin-Trial.woff2) format("woff2"), 
        url(../fonts/Styrene-B-Thin-Trial.woff) format("woff");
  font-weight: 100;
}

::-webkit-scrollbar {
  @apply w-[20px];
}

::-webkit-scrollbar-track {
  @apply bg-gray rounded-[10px];
}

::-webkit-scrollbar-thumb {
  @apply bg-violet rounded-[10px];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-buttonVioletFocus;
}
