@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

@font-face {
  font-family: "StyreneB";
  src: local("StyreneB-Bold"), 
        url(../fonts/Styrene-B-Bold-Trial.woff2) format("woff2"), 
        url(../fonts/Styrene-B-Bold-Trial.woff) format("woff");
}
@font-face {
  font-family: "StyreneB";
  src: local("StyreneB-Medium"), 
        url(../fonts/Styrene-B-Medium-Trial.woff2) format("woff2"), 
        url(../fonts/Styrene-B-Medium-Trial.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "StyreneB";
  src: local("StyreneB-Regular"), 
        url(../fonts/Styrene-B-Regular-Trial.woff2) format("woff2"), 
        url(../fonts/Styrene-B-Regular-Trial.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "StyreneB";
  src: local("StyreneB-Thin"), 
        url(../fonts/Styrene-B-Thin-Trial.woff2) format("woff2"), 
        url(../fonts/Styrene-B-Thin-Trial.woff) format("woff");
  font-weight: 100;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  aspect-ratio: 1;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after{
  background:
    radial-gradient(closest-side at 50% 12.5%,
     #6727CC 96%,#0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
     #6727CC 96%,#0000) 0 50%/80% 20% repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {transform:rotate(1turn)}
}