.tableBg {
    @apply rounded-[20px] bg-white w-full h-[60vh] border-[1px] border-violet min-h-[500px];
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

.customScrollbar {
    height: calc(100vh - 95px);
    overflow-y: auto; /* Разрешаем прокрутку */
    overflow-x: hidden;
}
