@tailwind base;
@tailwind components;
@tailwind utilities;

/* карта категории услуги */
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate {
    0% {
        --angle: 0deg;

    }

    100% {
        --angle: 360deg;

    }
}

.animateGradient {
    @apply relative overflow-hidden w-[200px] h-[200px] rounded-[15px] p-[8px] flex justify-center items-center;
}

.animateGradient::before {
    content: '';
    @apply absolute top-0 left-0 right-0 bottom-0 border-[12px] border-[transparent];
    border-image: linear-gradient(var(--angle), #6727CC, #07E2E2) 1;
    transition: border-image 0.3s;
}

.animateGradient:hover::before,
.animateGradient:focus::before {
  animation: rotate 5s linear infinite;
}

.innerContent {
    @apply relative p-[18px] bg-white rounded-[10px] flex flex-col justify-between items-center w-full h-full;
  }


  .animateGradient .rotateArrow {
    margin-left: 0px;
    transition: margin-left 0.3s;
}

.animateGradient:hover .rotateArrow {
    margin-left: 15px;
}

.animateGradient:active .rotateArrow {
    margin-left: 0px;
}


/* карта баланса */
.operator,
.client {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    @apply rounded-[30px]; 
}

.operator {
    @apply w-[450px] h-[250px] p-[30px] text-4xl
}

.client {
    @apply w-[550px] h-[350px] py-[40px] px-[45px] text-6xl
}

/* карта тарифа */
.font-sans {
    font-family: sans-serif;
  }


.cardTarif {
    @apply w-[400px] h-[400px] p-[45px] rounded-[30px] bg-white font-sans flex flex-col justify-between items-start;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.modalBG {
    @apply fixed
    top-0
    left-0
    w-full
    h-lvh
    bg-[rgb(80,87,89,0.7)]
    backdrop-blur-[2px]
    flex
    justify-center
    items-center;
}

.modal {
    @apply w-[500px]
    h-[640px]
    bg-white
    flex
    flex-col 
    justify-between 
    items-start 
    py-[45px]
    px-[30px] 
    font-bold
    relative;
}

.modalInner {
    @apply place-self-start
    text-blackGray 
    font-medium 
    text-xl 
    border-y-[3px] 
    border-gray 
    w-[480px] 
    py-[15px] 
    -ml-[20px] 
    px-[20px]
}

