@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .font-sans {
        font-family: sans-serif;
    }

    .placeholder-transparent::placeholder {
        color: transparent;
    }
}


/* Input входа */

.inputEntry {
    @apply mb-[10px] 
    block 
    border-blackGray 
    border-[2px] 
    rounded-[8px] 
    p-[16px] 
    w-[325px] 
    h-[50px] 
    font-sans 
    font-bold
    text-blackGray 
    text-lg 
    focus:border-[4px] 
    hover:border-[4px] 
    active:border-[4px] 
    placeholder:text-gray 
    placeholder-transparent
}

.labelEntry {
    @apply absolute 
    left-4 
    top-3.5 
    text-gray 
    font-sans 
    font-medium 
    text-lg;
    transition: left 0.3s ease, top 0.3s ease, font-color 0.3s ease;
}

.inputEntry:focus + .labelEntry,
.inputEntry:not(:placeholder-shown) + .labelEntry {
    @apply text-black
    left-1
    -top-8
}


/* Input поиска */
.search {
    @apply mt-[10px] 
        block 
        border-blackGray 
        border-[2px] 
        rounded-[8px] 
        text-lg 
        align-middle 
        leading-[50px] 
        p-[16px] 
        w-[450px] 
        h-[50px] 
        font-sans 
        font-bold 
        text-blackGray 
        placeholder:font-normal
        focus:border-[4px] 
        hover:border-[4px] 
        active:border-[4px];
    background-image: url('../../assets/search.svg');
    background-repeat: no-repeat;
    background-position: 96% 50%;
}

/* Input модального окна */

.inputModal {
    @apply mb-[10px] 
        block 
        border-blackGray 
        border-[2px] 
        rounded-[8px] 
        p-[16px] 
        h-[50px] 
        font-medium 
        text-blackGray 
        text-lg 
        focus:border-[4px] 
        hover:border-[4px] 
        active:border-[4px] 
        placeholder:text-gray 
        placeholder:font-normal
}

.labelModal {
    @apply text-blackGray font-normal text-xl
}

/* Input даты */
.InputDate {
    @apply mt-[10px] 
        block 
        border-blackGray 
        border-[2px] 
        rounded-[8px] 
        text-lg 
        align-middle 
        leading-[50px] 
        p-[10px] 
        w-[220px] 
        h-[50px] 
        font-sans 
        font-bold 
        text-blackGray 
        placeholder:font-normal
        placeholder:text-gray
        focus:border-[4px] 
        hover:border-[4px] 
        active:border-[4px] ;
}

::-webkit-calendar-picker-indicator {
    background-image: url('../../assets/calendar.svg');
    background-position: 50% 50%;
    background-size: 24px 25px;
}